<% if @win%>
	<div class="win" id="win">
		<%= button_to "You win ! Play again !" , root_path, method: :get%>
	</div>
<% else %>
	<div class="win" id="lose">
		<%= button_to "You lose ! Retry !" , root_path, method: :get%>
	</div>
<% end %>
<h1 class="gtime">SUNDAY'S NIGHT GAME !</h1>
<h2 style="text-align: center;">
	<span class="teams"><%=@deck_play[0].name%></span> 
	<span class="vs">VS</span> 
	<span class="teams"><%=@deck_against[0].name%></span>
</h2>
<div class="block-presentation">
	<% @players_play.each do |joueur| %>
		<div class="pres-players">
			<%=  joueur.avatar.exists? ? image_tag(joueur.avatar.url(:medium)) : '&empty;'.html_safe %>
		</div>
	<% end %>
</div>
<% #button_to 'Call Action', parties_show_path, class: 'button-versus' method: :post %>
<div class="result">
	<div class="points">
	Your team's points:
		<div class="counter" data-count="<%= @result_play %>">
			0
		</div>
	</div>
	<div class="points">
	Opponent's points:
		<div class="counter" data-count="<%= @result_against %>">
			0
		</div>
	</div>
</div>
<div class="ready">
	<figure>
	  <div>
	    <span>Click when your are ready</span>
	    <span>JUMP BALL !</span>
	  </div>
	</figure>
</div>
<div class="block-presentation">
	<% @players_against.each do |joueur| %>
		<div class="pres-players">
			<%=  joueur.avatar.exists? ? image_tag(joueur.avatar.url(:medium)) : '&empty;'.html_safe %>
		</div>
	<% end %>
</div>

