<!DOCTYPE html>
<html>
  <head>
    <title>Fgame</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Fascinate+Inline|Varela+Round|Montserrat" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="bg"></div>
    <header>
        <div>
          <span class="menu">
            <% #link_to image_tag("logo.png", size: "31x31", alt: "Home"), root_path %>
            <%= link_to 'Home', root_path %>
            <span>|</span>
            <% #link_to 'Play', 'decks#index' %>
            <%= link_to 'Play', decks_path %>
            <span>|</span>
              <%= link_to 'Liste des Joueurs', joueurs_path %>
              <span>|</span>
          </span>
          <span class="connecte">
            <% if user_signed_in? %>
              Connecté en tant que <%= link_to current_user.username, edit_user_registration_path, class: 'blue' %> - 
              <%= link_to 'Se déconnecter', destroy_user_session_path, class: 'blue', method: :delete %>
              <% else %>
                <%= link_to 'Se connecter',  new_user_session_path, class: 'blue' %>
            <% end %>
          </span>
        </div>
      </header>
      <div class="container">
        <%= yield %>
      </div>
  </body>
</html>
